a.icon { color: black }

li.news:hover { background-color: #f0f0f0; opacity:100% }

span.hn { color: orange }
span.lobsters { color: darkred }

#news { border: 0px solid silver; padding:1px }
#news .age { min-width: 75; display:inline-block; text-align: center; }
#marine-weather .card { text-align: center; background-color: rgb(218, 224, 229, 0.2); }

#menu { 
  text-align: right;
  padding: 5px; 
  border-top:1px solid silver;
  /* https://mdbootstrap.com/docs/standard/tools/design/gradients/ */
  /* fallback for old browsers */
  background: #d0d0d0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom, rgb(218, 224, 229, 0.7), rgba(224, 224, 224, 0.0));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom, rgb(218, 224, 229, 0.7), rgba(117, 67, 67, 0.0))
}

#weather { float: right }

.blocked { background-color:silver; opacity: 30% }

.list-group li {
  display: inline-table;
}