a.icon { color: black }

li.news { padding: 5px }

li.news:hover { background-color: #f0f0f0; opacity:100% }

span.hn { color: orange }
span.lobsters { color: darkred }

#news { margin:10px; border: 1px solid silver; padding:1px }
div#application { padding: 0px; }
#marine-weather { margin:2px }
#menu { 
  text-align: right;
  padding: 5px; 
  border-top:1px solid silver;
  /* https://mdbootstrap.com/docs/standard/tools/design/gradients/*/
  /* fallback for old browsers */
  background: #e9defa;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom, rgba(233, 222, 250, 0.25), rgba(215, 216, 181, 0.25));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom, rgba(233, 222, 250, 0.25), rgba(215, 216, 181, 0.25))
}

#submenu { padding: 5px; }
#weather { float: right }

.blocked { background-color:silver; opacity: 30% }

.list-group li {
  display: inline-table;
}